# Load the data

## Import libraries

In [1]:
import pandas as pd
import sys
import matplotlib.pyplot as plt
import seaborn as sns
import dataframe_image as dfi
from pycaret.classification import *
from sklearn.preprocessing import LabelEncoder

sns.set_style("whitegrid")
sys.path.append('/Users/badr/github_projects/')
from newforma_technical_test.src.cleaning_operations import is_valid_state

# Loading the datasets

In [4]:
n=13
df = pd.read_csv("../data/ks_dataset.csv",encoding='cp1252', usecols=[i for i in range(n)])
df.rename(columns=lambda x: x.strip(), inplace=True)
df.rename(columns={'usd pledged': 'usd_pledged'}, inplace=True)

df.tail(1)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged
323749,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16 09:07:47,2000,2011-07-19 09:07:47,524,failed,17,US,524

# Define variables

In [13]:
from newforma_technical_test.src.cleaning_operations import is_valid_state
from newforma_technical_test.src.config import ColumnTypeConverter, COLUMNS_CONVERT_TO_INT, COLUMNS_CONVERT_TO_FLOAT, COLUMNS_CONVERT_TO_DATETIME, COLUMNS_TO_BE_DELETED, CATEGORICAL_COLUMNS_TO_ENCODE, PrintStyle
from newforma_technical_test.src.visualization_functions import numerical_var_distribution, categorical_var_distribution, categorical_variables_versus_target

theme_colors = ["#ff8533", "#808080"]
target = "state"